/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 4em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 0.85em; 
  border-collapse: collapse;
  border: 1px solid $white;
  /* font-size: $type-size-6; */
  /* border: 1px solid $light-gray;*/

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $white;
  border-bottom: 1px solid $white;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $white;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
}

tr, td, th {
  vertical-align: middle;
}
